.btn {
	width: 100px;
	padding: 13px 10px 13px 10px;
	border-radius: 10px;
	text-decoration: none;
	color: $ligth-color;
	background-color: $black-color;
}

.comenzar {
	width: 150px;
	background-color: $primary-color; 
	color: none;  
	border: $primary-color;
    border-radius: 10px;
  }

.añadir {
	width: 80px;
	background-color: $primary-color; 
	color: none; 
	border: $primary-color;
    border-radius: 10px;
  }
