footer {
    display: flex;
    justify-content: space-between;
    background-color: $black-color;
   
    >div {
        padding-left: 40px;       
    }
   >a {
      padding-right: 40px;
    }
}



