.login-body {
	justify-content: center;
	align-items: center;
}

.login {
	background-color: $primary-color;
	color: $buttom-color;
	padding: 2rem;
	border-radius: 10px;
	width: 45vb;
	text-align: center;

	.data {
		text-align: start;
		padding-block: 10px;
		padding-inline: 5px;

		input {
			width: 100%;
			background-color: $ligth-color;
			color: $black-color;
			padding: 12px 20px;
			box-sizing: border-box;
			border-radius: 10px;
		}
	}

	button {
		width: 100px;
		margin-top: 25px;
		padding: 10px;
		border-radius: 10px;
		color: $ligth-color;
		border-width: 1px;
		border-color: $black-color;
		background-color: $black-color;
	}
}