.fondo {
    background: linear-gradient(rgb(92, 139, 172, 0.5), rgb(156, 221, 220, 0.5)), url(../../public/assets/img/fondo.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
   
    background-repeat: no-repeat;
}

