nav {
	height: 50px;
	width: 100%;
	background-color: $black-color;
	color: $ligth-color;
	position: relative;
	>img {
		margin-left: 50px;
		width: 45px;
		border-radius: 50%;
	}
	>.navbar-title {
		display: inline-block;
	}

	.navbar-menu {
		display: inline;
		float: right;
		font-size: 18px;

		>a {
			display: inline-block;
			padding: 13px 10px 13px 10px;
			text-decoration: none;
			color: #efefef;

			&:hover {
				background-color: $ligth-color;
				color: $black-color;
			}
		}

		.active {
			background-color: $ligth-color;
			color: $black-color;
		}
	}
}

@media (max-width:600px) {
	nav {
		>.nav-menu {
			position: absolute;
			display: block;
			width: 100%;
			background-color: $ligth-color;
			height: 0px;
			transition: all 0.3s ease-in;
			overflow-y: hidden;
			top: 50px;
			left: 0px;

			>a {
				display: block;
				width: 100%;
			}
		}
	}
}