.btn {
    font-size: 16px;   
    height: 30px;   
    display: inline-block;
    text-align: center;
    line-height: 6px; 
}

.btn.comenzar {
    width: 150px;
    background-color: $primary-color; 
    color: none; 
    border: $primary-color;  
    border-radius: 10px;
}

.btn.añadir {
    width: 80px;
    background-color: $primary-color; 
    color: none; 
    border: $primary-color;  
    border-radius: 10px;
}

.btn.login{
	width: 100px;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
    line-height: normal;
    background-color: $primary-color; 
    color: $ligth-color; 
    border: 1px solid $ligth-color;  
    border-radius: 10px;
}