$font-family_1: 'Poppins';

//ir agregando los demas archivos a importar: 'archivo','archivo2' guradarlo '_archivo.scss'
@import 'color-palet', 'navbar', 'main', 'login', 'footer';

body {
	margin: 0px;
	background-color: $ligth-color;
	font-family: $font-family_1;
}